:root{
    --color1: #fff;
    --color2: #000;
    --color3: #0077B6;
    --color4: #401F3E;
    --color5: #FF007F;
    --color6: #C0E8F9;
    --color7: #415A77;
}
/*
.colorText{}
.color3{}
.color4{}
.color5{}
*/